html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

.b-video-player-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 854px; }

.b-text-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  color: #000000;
  z-index: 0;
  overflow: hidden;
  font-family: "Montserrat-SemiBold"; }

.b-text-animation.is-ready {
  z-index: 99; }

.video-js .vjs-big-play-button {
  z-index: 999999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.vjs-control-bar {
  z-index: 100; }

.video-js.vjs-fullscreen {
  height: 0 !important;
  padding-top: 56.25% !important; }

@-webkit-keyframes show {
  0% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade {
  0% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.show {
  -webkit-animation-name: show;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-name: show;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  opacity: 1 !important; }

@-webkit-keyframes grow {
  0% {
    width: 5px;
    height: 5px; }
  100% {
    width: 50px;
    height: 50px; } }

@keyframes grow {
  0% {
    width: 5px;
    height: 5px; }
  100% {
    width: 50px;
    height: 50px; } }

.charlie {
  opacity: 0; }

.charlie.animated {
  visibility: visible !important;
  opacity: 1; }

#animate1-img1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 27.5%;
  height: 100%;
  z-index: 102; }

#animate1-img2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 27%;
  height: 100%;
  z-index: 105; }

#animate1-img31 {
  position: absolute;
  top: 0;
  left: 0;
  width: 27.5%;
  height: 100%;
  opacity: 0;
  z-index: 106; }

#animate1-img32 {
  position: absolute;
  top: 0;
  left: 0;
  width: 27.5%;
  height: 100%;
  opacity: 0;
  z-index: 105; }

#animate1-img4 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0; }

#animate-end-text {
  position: absolute;
  top: 70%;
  left: 0;
  width: 27.5%;
  height: 10%;
  color: #000000;
  font-size: 30px;
  opacity: 0;
  z-index: 105; }

.vjs-fullscreen #animate-end-text {
  font-size: 3.3vw; }

#animate-end-img {
  position: absolute;
  top: 20%;
  left: 1%;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  opacity: 0;
  z-index: 105; }

.vjs-fullscreen #animate-end-img {
  height: 26vw;
  width: 26vw; }

#animate1-text12 {
  position: absolute;
  top: 3%;
  right: 20%;
  width: 30%;
  color: #000000;
  font-size: 30px;
  z-index: 101;
  opacity: 0; }

.vjs-fullscreen #animate1-text12 {
  font-size: 3.3vw; }

#animate1-text1 {
  position: absolute;
  top: 3%;
  right: 15%;
  width: 26%;
  color: #000000;
  font-size: 30px; }

.vjs-fullscreen #animate1-text1 {
  font-size: 3.3vw; }

#animate2 {
  position: absolute;
  top: 83%;
  left: auto;
  right: auto;
  color: #000000;
  font-size: 30px; }

.vjs-fullscreen #animate2 {
  font-size: 3.5vw; }

#animate3 {
  position: absolute;
  left: auto;
  right: auto;
  top: 32%;
  height: 220px;
  width: 220px;
  border-radius: 50%; }

.vjs-fullscreen #animate3 {
  height: 26vw;
  width: 26vw; }

.endScreen {
  visibility: visible !important;
  opacity: 1 !important; }

@media (max-width: 854px) {
  #animate1-text1 {
    font-size: 3.3vw; }
  #animate2 {
    font-size: 3.5vw; }
  #animate3 {
    height: 26vw;
    width: 26vw; }
  #animate-end-img {
    height: 26vw;
    width: 26vw; }
  #animate-end-text {
    font-size: 3.3vw; } }
