@font-face {
  font-family: "Arimo";
  src: url(../font/Arimo-Regular.ttf); }

@font-face {
  font-family: "Arimo-bold";
  src: url(../font/Arimo-Bold.ttf); }

html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

.b-video-player-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 854px; }

.b-text-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  color: #000000;
  z-index: 0; }

.b-text-animation.is-ready {
  z-index: 99; }

.video-js .vjs-big-play-button {
  z-index: 999999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.vjs-control-bar {
  z-index: 100; }

.video-js.vjs-fullscreen {
  height: 0 !important;
  padding-top: 56.25% !important; }

@-webkit-keyframes show {
  0% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade {
  0% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.show {
  -webkit-animation-name: show;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-name: show;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  opacity: 1 !important; }

@-webkit-keyframes grow {
  0% {
    width: 5px;
    height: 5px; }
  100% {
    width: 50px;
    height: 50px; } }

@keyframes grow {
  0% {
    width: 5px;
    height: 5px; }
  100% {
    width: 50px;
    height: 50px; } }

.charlie {
  opacity: 0; }

.charlie.animated {
  opacity: 1; }

#textAnimate1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 10%;
  width: auto;
  font-size: 50px;
  color: #0C267B;
  font-family: "Segoe UI";
  font-weight: 500;
  white-space: nowrap; }

@media (max-width: 854px) {
  #textAnimate1 {
    font-size: 5.76vw; } }

.vjs-fullscreen #textAnimate1 {
  font-size: 6.5vw;
  top: 26.93vw; }

.textAnimate2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

#textAnimate2 {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 41.2%;
  left: 6.5%;
  font-size: 50px;
  font-family: "Arial Black";
  font-weight: 500;
  color: #000000;
  white-space: nowrap; }

@media (max-width: 854px) {
  #textAnimate2 {
    font-size: 6.0257vw; } }

.vjs-fullscreen #textAnimate2 {
  font-size: 6.25vw; }

#textAnimate3 {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  height: 14%;
  top: 7.5%;
  left: 21%;
  font-size: 40px;
  font-family: "Arimo-Bold", Serif;
  color: #000000; }
  #textAnimate3 .line1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: auto; }
    #textAnimate3 .line1__animate1 {
      color: #172d7b; }
    #textAnimate3 .line1__animate2 {
      color: #5b7fff; }
  #textAnimate3 .line2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: auto;
    font-size: 24px; }

@media (max-width: 854px) {
  #textAnimate3 {
    height: 12%;
    font-size: 3.5vw; }
    #textAnimate3 .line2 {
      font-size: 2.9vw; } }

.vjs-fullscreen #textAnimate3 {
  font-size: 6.3vw;
  top: 3.93vw; }
  .vjs-fullscreen #textAnimate3 .line2 {
    font-size: 3.1vw; }

.animate4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  position: absolute;
  top: 20%;
  height: 72%;
  width: 100%;
  color: #fff;
  font-family: Arial; }
  .animate4__block {
    height: 100%;
    width: 31.5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.animate4__block1-text1, .animate4__block2-text1, .animate4__block3-text1 {
  position: relative;
  top: 8.5%;
  left: 28%; }

.animate4__block1-text2, .animate4__block2-text2, .animate4__block3-text2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15%;
  width: 100%;
  color: #000;
  font-size: 32px; }
  .animate4__block1-text2__regular, .animate4__block2-text2__regular, .animate4__block3-text2__regular {
    font-size: 10px;
    text-decoration: line-through;
    padding: 3px;
    margin: 3px;
    border: 1px solid #000000; }
  .animate4__block1-text2__discount, .animate4__block2-text2__discount, .animate4__block3-text2__discount {
    padding: 3px;
    border: 1px solid #000000; }

@media (max-width: 854px) {
  .animate4 {
    font-size: 2.6vw; }
  .animate4__block1-text2, .animate4__block2-text2, .animate4__block3-text2 {
    font-size: 4vw; } }

@media (max-width: 450px) {
  .animate4__block1-text2__regular, .animate4__block2-text2__regular, .animate4__block3-text2__regular {
    font-size: 2.8vw; } }

.vjs-fullscreen .animate4 {
  font-size: 2.6vw; }

.animate5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  position: absolute;
  top: 22.5%;
  left: 21%;
  height: 55%;
  width: 48%; }
  .animate5__block1 {
    height: 15%;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .animate5__block2 {
    position: absolute;
    top: 35%;
    display: block;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    height: 29%;
    width: 80%;
    border-radius: 50px;
    background: #ffc335; }
    .animate5__block2-yellow {
      background: #ff932b;
      z-index: -1; }
  .animate5__block3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    width: 50%;
    font-family: Arial; }
    .animate5__block3__text1 {
      font-size: 30px;
      font-weight: 400; }
    .animate5__block3__text2 {
      font-size: 50px;
      font-weight: 800; }

@media (max-width: 854px) {
  .animate5 {
    font-size: 3.5vw; }
    .animate5__block3__text1 {
      font-size: 3.5vw; }
    .animate5__block3__text2 {
      font-size: 6vw; } }

.vjs-fullscreen .animate5 {
  font-size: 2vw; }

@-webkit-keyframes textAnimate1 {
  from, 3% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin: 0 auto; }
  6%, 10% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin: 0 auto; }
  13%, 98% {
    opacity: 1;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    margin: 0 auto 0 6.5%; }
  to {
    opacity: 0;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    margin: 0 auto 0 6.5%; } }

@keyframes textAnimate1 {
  from, 3% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin: 0 auto; }
  6%, 10% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin: 0 auto; }
  13%, 98% {
    opacity: 1;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    margin: 0 auto 0 6.5%; }
  to {
    opacity: 0;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    margin: 0 auto 0 6.5%; } }

.textAnimate1 {
  -webkit-animation: textAnimate1 9.4s;
          animation: textAnimate1 9.4s; }

@-webkit-keyframes textAnimate2 {
  from {
    opacity: 0; }
  28%, 97% {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes textAnimate2 {
  from {
    opacity: 0; }
  28%, 97% {
    opacity: 1; }
  to {
    opacity: 0; } }

.textAnimate2 {
  -webkit-animation: textAnimate2 8.28s;
          animation: textAnimate2 8.28s; }

@-webkit-keyframes textAnimateLetter {
  from, 15% {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px); }
  19% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes textAnimateLetter {
  from, 15% {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px); }
  19% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.textAnimateLetter {
  -webkit-animation: textAnimateLetter 8.7s;
          animation: textAnimateLetter 8.7s; }

@-webkit-keyframes textAnimate3__1 {
  from {
    -webkit-transform: translate(25%, -25%);
            transform: translate(25%, -25%);
    opacity: 0; }
  5%, 25% {
    -webkit-transform: translate(25%, 0);
            transform: translate(25%, 0);
    opacity: 1; }
  28%, 99% {
    -webkit-transform: translate(-3%, 0);
            transform: translate(-3%, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate(-3%, 0);
            transform: translate(-3%, 0);
    opacity: 0; } }

@keyframes textAnimate3__1 {
  from {
    -webkit-transform: translate(25%, -25%);
            transform: translate(25%, -25%);
    opacity: 0; }
  5%, 25% {
    -webkit-transform: translate(25%, 0);
            transform: translate(25%, 0);
    opacity: 1; }
  28%, 99% {
    -webkit-transform: translate(-3%, 0);
            transform: translate(-3%, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate(-3%, 0);
            transform: translate(-3%, 0);
    opacity: 0; } }

.textAnimate3__1 {
  -webkit-animation: textAnimate3__1 8.7s;
          animation: textAnimate3__1 8.7s; }

@-webkit-keyframes textAnimate3__2 {
  from {
    display: none;
    opacity: 0; }
  28%, 99% {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes textAnimate3__2 {
  from {
    display: none;
    opacity: 0; }
  28%, 99% {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    opacity: 1; }
  to {
    opacity: 0; } }

.textAnimate3__2 {
  -webkit-animation: textAnimate3__2 6.2s;
          animation: textAnimate3__2 6.2s; }

@-webkit-keyframes textAnimate3__3 {
  from {
    opacity: 0; }
  28%, 99% {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes textAnimate3__3 {
  from {
    opacity: 0; }
  28%, 99% {
    opacity: 1; }
  to {
    opacity: 0; } }

.textAnimate3__3 {
  -webkit-animation: textAnimate3__3 7.7s;
          animation: textAnimate3__3 7.7s; }

@-webkit-keyframes textAnimate4-1-block1 {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  8.2% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  10.5%, 28% {
    opacity: 1;
    -webkit-transform: translate(0, -360%) scale(1.3);
            transform: translate(0, -360%) scale(1.3); }
  30%, 74% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  76%, to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0; } }

@keyframes textAnimate4-1-block1 {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  8.2% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  10.5%, 28% {
    opacity: 1;
    -webkit-transform: translate(0, -360%) scale(1.3);
            transform: translate(0, -360%) scale(1.3); }
  30%, 74% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  76%, to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0; } }

.textAnimate4-1-block1 {
  -webkit-animation: textAnimate4-1-block1 12s;
          animation: textAnimate4-1-block1 12s; }

@-webkit-keyframes textAnimate4-1-block2 {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  8%, 30% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  33%, 49% {
    opacity: 1;
    -webkit-transform: translate(0, -360%) scale(1.2);
            transform: translate(0, -360%) scale(1.2); }
  51%, 74% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  76%, to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0; } }

@keyframes textAnimate4-1-block2 {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  8%, 30% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  33%, 49% {
    opacity: 1;
    -webkit-transform: translate(0, -360%) scale(1.2);
            transform: translate(0, -360%) scale(1.2); }
  51%, 74% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  76%, to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0; } }

.textAnimate4-1-block2 {
  -webkit-animation: textAnimate4-1-block2 12s;
          animation: textAnimate4-1-block2 12s; }

@-webkit-keyframes textAnimate4-1-block3 {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  8%, 50.5% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  53%, 70% {
    opacity: 1;
    -webkit-transform: translate(0, -360%) scale(1.2);
            transform: translate(0, -360%) scale(1.2); }
  73.5% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  76%, to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0; } }

@keyframes textAnimate4-1-block3 {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  8%, 50.5% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  53%, 70% {
    opacity: 1;
    -webkit-transform: translate(0, -360%) scale(1.2);
            transform: translate(0, -360%) scale(1.2); }
  73.5% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  76%, to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0; } }

.textAnimate4-1-block3 {
  -webkit-animation: textAnimate4-1-block3 12s;
          animation: textAnimate4-1-block3 12s; }

@-webkit-keyframes textAnimate4-2 {
  from {
    -webkit-transform: translateY(180%);
            transform: translateY(180%);
    opacity: 0; }
  3% {
    opacity: 1; }
  22%, 93% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; }
  95%, to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0; } }

@keyframes textAnimate4-2 {
  from {
    -webkit-transform: translateY(180%);
            transform: translateY(180%);
    opacity: 0; }
  3% {
    opacity: 1; }
  22%, 93% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; }
  95%, to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0; } }

.textAnimate4-2 {
  -webkit-animation: textAnimate4-2 2.3s;
          animation: textAnimate4-2 2.3s; }

@-webkit-keyframes amountAnimate5-block1__amount1 {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%); }
  5% {
    opacity: 1;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%); }
  27% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%); }
  42%, to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes amountAnimate5-block1__amount1 {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%); }
  5% {
    opacity: 1;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%); }
  27% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%); }
  42%, to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.amountAnimate5-block1__amount1 {
  -webkit-animation: amountAnimate5-block1__amount1 5.5s;
          animation: amountAnimate5-block1__amount1 5.5s; }

@-webkit-keyframes amountAnimate5-block1__amount2 {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%); }
  5% {
    opacity: 1;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%); }
  17% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%); }
  30%, to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes amountAnimate5-block1__amount2 {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%); }
  5% {
    opacity: 1;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%); }
  17% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%); }
  30%, to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.amountAnimate5-block1__amount2 {
  -webkit-animation: amountAnimate5-block1__amount2 5s cubic-bezier(1, 1, 1, 1);
          animation: amountAnimate5-block1__amount2 5s cubic-bezier(1, 1, 1, 1); }

@-webkit-keyframes AnimateOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes AnimateOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.AnimateOut {
  -webkit-animation: AnimateOut 0.5s;
          animation: AnimateOut 0.5s; }

@-webkit-keyframes amountAnimate5-block2 {
  from {
    opacity: 0; }
  5%, 99% {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes amountAnimate5-block2 {
  from {
    opacity: 0; }
  5%, 99% {
    opacity: 1; }
  to {
    opacity: 0; } }

.amountAnimate5-block2 {
  -webkit-animation: amountAnimate5-block2 5.8s;
          animation: amountAnimate5-block2 5.8s; }

@-webkit-keyframes amountAnimate5-block2-1 {
  from {
    opacity: 0; }
  5%, 50% {
    background: #ff932b;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  60%, 72% {
    background: #ff932b;
    -webkit-transform: translateX(20%);
            transform: translateX(20%); }
  85% {
    background: #ffc335;
    -webkit-transform: translateX(20%);
            transform: translateX(20%); }
  99% {
    opacity: 1;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    background: #ffc335; }
  to {
    opacity: 0;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    background: #ffc335; } }

@keyframes amountAnimate5-block2-1 {
  from {
    opacity: 0; }
  5%, 50% {
    background: #ff932b;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  60%, 72% {
    background: #ff932b;
    -webkit-transform: translateX(20%);
            transform: translateX(20%); }
  85% {
    background: #ffc335;
    -webkit-transform: translateX(20%);
            transform: translateX(20%); }
  99% {
    opacity: 1;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    background: #ffc335; }
  to {
    opacity: 0;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    background: #ffc335; } }

.amountAnimate5-block2-1 {
  -webkit-animation: amountAnimate5-block2-1 5.8s;
          animation: amountAnimate5-block2-1 5.8s; }

@-webkit-keyframes amountAnimate5-block3 {
  from {
    opacity: 0; }
  5%, 95% {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes amountAnimate5-block3 {
  from {
    opacity: 0; }
  5%, 95% {
    opacity: 1; }
  to {
    opacity: 0; } }

.amountAnimate5-block3 {
  -webkit-animation: amountAnimate5-block3 3.3s;
          animation: amountAnimate5-block3 3.3s; }
