@font-face {
  font-family: "Montserat-SemiBold";
  src: url(../fonts/Montserrat-SemiBold.ttf); }

html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

.b-video-player-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 854px; }

.b-text-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  color: #ffffff;
  z-index: 0;
  overflow: hidden;
  font-family: "Montserat-SemiBold"; }

.b-text-animation.is-ready {
  z-index: 99; }

.video-js .vjs-big-play-button {
  z-index: 999999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.vjs-control-bar {
  z-index: 100; }

.video-js.vjs-fullscreen {
  height: 0 !important;
  padding-top: 56.25% !important; }

@-webkit-keyframes show {
  0% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade {
  0% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.show {
  -webkit-animation-name: show;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-name: show;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  opacity: 1 !important; }

@-webkit-keyframes grow {
  0% {
    width: 5px;
    height: 5px; }
  100% {
    width: 50px;
    height: 50px; } }

@keyframes grow {
  0% {
    width: 5px;
    height: 5px; }
  100% {
    width: 50px;
    height: 50px; } }

.charlie {
  opacity: 0; }

.charlie.animated {
  visibility: visible !important;
  opacity: 1; }

#animate1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  top: 50%;
  left: 33%;
  width: 18%;
  height: 26%;
  font-size: 19px;
  color: #000000;
  line-height: 1.3em;
  overflow: hidden; }

.vjs-fullscreen #animate1 {
  font-size: 2.2vw; }

#animate1-amount1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  min-width: 150px;
  position: absolute;
  font-size: 22px;
  top: 26%;
  left: 80%; }

#animate1-amount2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  min-width: 150px;
  position: absolute;
  font-size: 22px;
  top: 47%;
  left: 9%; }

#animate1-amount3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  min-width: 150px;
  position: absolute;
  font-size: 22px;
  top: 45.5%;
  left: 81%; }

#animate1-amount4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  min-width: 150px;
  position: absolute;
  font-size: 22px;
  top: 66.5%;
  left: 5%; }

#animate1-amount5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  min-width: 150px;
  position: absolute;
  font-size: 22px;
  top: 71%;
  left: 82%; }

.vjs-fullscreen #animate1-amount1, .vjs-fullscreen #animate1-amount2, .vjs-fullscreen #animate1-amount3,
.vjs-fullscreen #animate1-amount4, .vjs-fullscreen #animate1-amount5 {
  font-size: 2.2vw; }

#animate2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8%;
  visibility: hidden; }

#button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  position: absolute;
  top: 73.5%;
  left: 40%;
  height: 12%;
  width: 20%; }

.endScreen {
  visibility: visible;
  opacity: 1; }

@media (max-width: 854px) {
  #animate1 {
    font-size: 2.2vw; }
  #animate2 {
    font-size: 2.5vw; }
  #animate1-amount1, #animate1-amount2, #animate1-amount3,
  #animate1-amount4, #animate1-amount5 {
    font-size: 2.2vw; } }

@-webkit-keyframes animate-start {
  from {
    opacity: 0; }
  3%, to {
    opacity: 1; } }

@keyframes animate-start {
  from {
    opacity: 0; }
  3%, to {
    opacity: 1; } }

.animate-start {
  -webkit-animation: animate-start 8s;
          animation: animate-start 8s; }

@-webkit-keyframes animate-start2 {
  from {
    opacity: 0; }
  1%, to {
    opacity: 1; } }

@keyframes animate-start2 {
  from {
    opacity: 0; }
  1%, to {
    opacity: 1; } }

.animate-start2 {
  -webkit-animation: animate-start2 40s;
          animation: animate-start2 40s; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  10%, to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  10%, to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

.fadeInUp {
  -webkit-animation: fadeInUp 12s;
          animation: fadeInUp 12s; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50%, to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0; } }

@keyframes fadeInDown {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50%, to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0; } }

.fadeInDown {
  -webkit-animation: fadeInDown 1s;
          animation: fadeInDown 1s; }

@-webkit-keyframes animate-finish {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes animate-finish {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.animate-finish {
  -webkit-animation: animate-finish 1s;
          animation: animate-finish 1s; }
