@-webkit-keyframes animate-start {
  from {
    opacity: 0; }
  3%, to {
    opacity: 1; } }

@keyframes animate-start {
  from {
    opacity: 0; }
  3%, to {
    opacity: 1; } }

.animate-start {
  -webkit-animation: animate-start 8s;
          animation: animate-start 8s; }

@-webkit-keyframes animate-finish {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes animate-finish {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.animate-finish {
  -webkit-animation: animate-finish 1s;
          animation: animate-finish 1s; }
