@-webkit-keyframes textAnimate6__calendar {
    from {
        -webkit-transform: translateY(100px) scale(0);
    }
    10%,84.8%{
        opacity: 1;
        -webkit-transform: translateY(60%) scale(1);}
    to {
        opacity: 0;
        -webkit-transform: translateY(60%) scale(1); }
 }

@keyframes textAnimate6__calendar {
    from {
        transform: translateY(100px) scale(0);
    }
    10%,84.8%{
        opacity: 1;
        transform: translateY(60%) scale(1);}
    to {
        transform: translateY(60%) scale(1);
        opacity: 0 }
}


.textAnimate6__calendar {
    -webkit-animation-name: textAnimate6__calendar;
    animation-name: textAnimate6__calendar;
    -webkit-animation-duration: 2.8s;
    animation-duration: 2.8s;
}

@-webkit-keyframes textAnimate6__amount {
    from {
        -webkit-transform: translateY(0) ;
    }
    10%,92%{
        opacity: 1;
        -webkit-transform: translateY(40%)
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(40%) ;
    }
}


@keyframes textAnimate6__amount {
    from {
        transform: translateY(0) ;
    }
    10%,92%{
        opacity: 1;
        transform: translateY(40%)
    }
    to {
        opacity: 0;
        transform: translateY(40%) ;
    }
}

.textAnimate6__amount {
    -webkit-animation-name: textAnimate6__amount;
    animation-name: textAnimate6__amount;
    -webkit-animation-duration: 5.8s;
    animation-duration: 5.8s;
}




@keyframes textAnimate6Letter {
    from ,92.125%{
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.textAnimate6Letter {
    -webkit-animation-name: textAnimate6Letter;
    animation-name: textAnimate6Letter;
    -webkit-animation-duration: 7.3s;
    animation-duration: 7.3s;
}
