@keyframes animate-start {
  from{
    opacity: 0;
  }
  5%,to{
    opacity: 1;
  }
}
.animate-start{
  animation: animate-start 10s linear;
}


@keyframes animate1__line1 {
  from{
    opacity: 0;
    //transform: scale(0.3)translate(-10%,50%);
    transform: scaleY(0.3)translate(-80px,100px);
  }
  2%{transform: scaleY(1)translate(0,0);}
  4%{transform: scaleY(0.85)translate(-5px,5px);}
  6%{
    opacity: 1;
    transform: scaleY(1)translate(0,0);
  }
  to{
    opacity: 1;
    transform: scaleY(1)translate(0,0);
  }
}
.animate1__line1{
  animation: animate1__line1 10s linear;
}

@keyframes animate1__line2 {
  from{
    opacity: 0;
    transform: scaleY(0.3)translate(80px,-100px);
    //transform: scale(1)translate(10%,-50%);
  }
  2%{transform: scaleY(1)translate(0,0);}
  4%{
    //transform: scale(1)translate(2%,-10%);
    transform: scaleY(0.85)translate(5px,-5px);
  }
  6%{
    opacity: 1;
    transform: scaleY(1)translate(0,0);
  }
  to{
    opacity: 1;
    transform: scaleY(1)translate(0,0);
  }
}
.animate1__line2{
  animation: animate1__line2 10s linear;
}

@keyframes animate2 {
  from{
    opacity: 0;
    transform: translateY(100%);
  }
  5%{
    opacity: 1;

  }
  10%{
    transform: translateY(50%);
  }
  20%{
    transform: translateY(0);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
.animate2{
  animation: animate2 10s linear;
}

@keyframes animate-image {
  from,2%{
    opacity: 0;
    transform: scale(0);
  }
  6%,to{
    opacity: 1;
    transform: scale(1);
  }
}
.animate-image{
  animation: animate-image 10s linear;
}

@keyframes animate-finish {
  from{
    opacity: 1;
  }
 5%,to{
    opacity: 0;
  }
}
.animate-finish{
  animation: animate-finish 0.5s linear;
}