@keyframes textAnimate1 {
  from {
    opacity: 0;
  }
  1%,to {
    opacity: 1;
  }
}
.textAnimate1 {
  animation: textAnimate1 9s;
}

@keyframes textAnimate2 {
   from {
     opacity: 0; }
   5%,97%{
     opacity: 1;
   }
   to {
     opacity: 0;
   }
 }
.textAnimate2 {
  animation: textAnimate2 8.08s;
}



@keyframes textAnimateLetter {
  from {
    opacity: 0 }
  25%,to {
    opacity: 1  }
}
.textAnimateLetter {
  animation: textAnimateLetter 10s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100vh);
  }
  10%,to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fadeInUp {
  animation: fadeInUp 12s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  10%,to {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn 12s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  10%,to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fadeInDown {
  animation: fadeInDown 12s;
}

@keyframes fadeInRight {
  from {
    transform: translateX(100vw);
    opacity: 0; }
  10%,to {
    transform: translateX(0);
    opacity: 1;
  }
}
.fadeInRight {
  animation: fadeInRight 12s;
}

@keyframes fadeInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0; }
  10%,to {
    transform: translateX(0);
    opacity: 1;
  }
}
.fadeInLeft {
  animation: fadeInLeft 12s;
}

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0;
  }
}
.fadeOut {
  animation: fadeOut 0.5s;
}

@keyframes fadeOutRight {
  from {
    transform: translateX(0);
    opacity: 1; }
  to {
    transform: translateX(100vw);
    opacity: 0;
  }
}
.fadeOutRight {
  animation: fadeOutRight 1.5s;
}

@keyframes scaleXIn1 {
  from {
    transform: scaleX(0)skewY(-5deg);
    opacity: 0; }
  10%{
    transform: scaleX(1)skewY(-5deg);
    opacity: 1;
  }
  to {
    transform: scaleX(1)skewY(-5deg);
    opacity: 1;
  }
}
.scaleXIn1 {
  animation: scaleXIn1 15s;
}

@keyframes scaleXIn2 {
  from {
    transform: scaleX(0)skewY(-2deg);
    opacity: 0; }
  10%{
    transform: scaleX(1)skewY(-2deg);
    opacity: 1;
  }
  to {
    transform: scaleX(1)skewY(-2deg);
    opacity: 1;
  }
}
.scaleXIn2 {
  animation: scaleXIn2 15s;
}

@keyframes scaleXIn3 {
  from {
    transform: scaleX(0)skewY(3deg);
    opacity: 0; }
  10%{
    transform: scaleX(1)skewY(3deg);
    opacity: 1;
  }
  to {
    transform: scaleX(1)skewY(3deg);
    opacity: 1;
  }
}
.scaleXIn3 {
  animation: scaleXIn3 15s;
}

@keyframes scaleXLeft {
  from {
    transform: scaleX(0)translateX(-100%);
    opacity: 0; }
  10%{
    transform: scaleX(1)translateX(0);
    opacity: 1;
  }
  to {
    transform: scaleX(1)translateX(0);
    opacity: 1;
  }
}
.scaleXLeft {
  animation: scaleXLeft 15s;
}

@keyframes animate-start {
  from{
    visibility: hidden;
    opacity: 0; }
  5%,to {
    opacity: 1;
    visibility: visible;
  }
}
.animate-start{
  animation: animate-start 12s;
}

@keyframes animate-finish {
  from {
    visibility: visible;
    opacity: 1; }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.animate-finish {
  animation: animate-finish .2s;
}

