@keyframes animate1 {
  from, 3% {
    opacity: 0;
    transform: translateY(-30%);
  }
  40%{
    transform: translateY(0);
  }
  68%,98% {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(0);
  }
}

.animate1 {
  animation: animate1 6.2s;
}

@keyframes animate2 {
  from {
    opacity: 0; }
  8%,97%{
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.animate2 {
  animation: animate2 4s;
}



@keyframes animateLetter {
  from,15% {
    transform: translateX(-250px); }
  19%{
    transform: translateX(0);}
  to {
    transform: translateX(0); }
}
.animateLetter {
  animation: animateLetter 8s;
}



@keyframes animateLetter2 {
  from,7%{
    opacity: 0;
  }
  8%,99%{
    opacity: 1;
  }
  to {
    opacity: 0 }
}
.animateLetter2 {
  animation: animateLetter2 8s;
}

@keyframes animate3 {
  from {
    opacity: 0;
  }
  5%,98%{
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.animate3 {
  animation: animate3 4.2s;
}

@keyframes animate4 {
  from,17% {
    opacity: 0;
  }
  19%,95%{
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.animate4 {
  animation: animate4 8.7s;
}

@keyframes animate4button {
  from,17% {
    opacity: 0;
    transform: scale(5);
  }
  19%,95%{
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
.animate4button {
  animation: animate4button 8.7s;
}

@keyframes animate-start {
  from {
    opacity: 0; }
  8%,to {
    opacity: 1;
  }
}
.animate-start {
  animation: animate-start 6s;
}
@keyframes animate-finish {
  from {
    opacity: 1; }
  to {
    opacity: 0;
  }
}
.animate-finish {
  animation: animate-finish .2s;
}

@keyframes animate41 {
  from,7% {
    opacity: 0;
  }
  19%,98%{
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.animate41 {
  animation: animate41 4.1s;
}